<body>
<%= @channel %>
</body>

<script type="text/javascript">
window.onload = function(){
	var getDevice = (function(){
    var ua = navigator.userAgent;
    if(ua.indexOf('iPhone') > 0 || ua.indexOf('iPod') > 0 || ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0){
    	var dispatcher = new WebSocketRails("evening-stream-72370.herokuapp.com/websocket");
      var channel = dispatcher.subscribe(<%= @channel %>);
      window.addEventListener("devicemotion", function(e){
        d_motion = e.rotationRate;
        interval = e.interval;
        aig = e.accelerationIncludingGravity;
        acc = e.acceleration;
        channel.trigger("send_message", {d: d_motion, i: interval, aig: aig, acc: acc});
      });
      device = "mobile";
    }else{
      alert("This devise is not supported")
    }
  })();
}
</script>